1.What are data structures, and why are they important?

  sol: Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.




*    Choosing the right data structure significantly impacts the efficiency and performance of your program.
*  Simplify data manipulation (adding, removing, modifying elements)
*   Optimize searching and sorting operations
*  Conserve memory usage

---



2.Explain the difference between mutable and immutable data types with examples.

  sol:mutable objects such as list, dictionary can be edited or modified afer they have been created.
  * immutables objects such as tupples, strings cannot be modified or edited once they have been created.

---



3.What are the main differences between lists and tuples in Python?

  sol: lists are enclosed in [ ] brackets which are mutable,Lists can hold items of various data types numbers, strings, even other lists. You can add, remove, or modify elements within a list using indexing and slicing.

  * tuples: are enclode in () brackets, are immutable, They provide a secure way to store data that shouldn't be modified. You can access elements using indexing and slicing, but you cannot modify the content.

---

4.Describe how dictionaries store data?

  sol:  dictionaries stores data in key:vlaue pair . Dictionaries cannot have two items with the same key:

---
5.Why might you use a set instead of a list in Python?

  sol:List: A list is an ordered collection of items that can hold duplicate values.
  *  A set is an unordered collection of unique items. It does not allow duplicates. Sets automatically remove duplicate values. Only unique items are stored.

---
6.What is a string in Python, and how is it different from a list?

  sol: string is a data type. List items can be of any data type which includes string .we can store multiple string into list.

---
7.How do tuples ensure data integrity in Python?

  sol:Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.this ensures  the date integertity.

---
8.What is a hash table, and how does it relate to dictionaries in Python?

  sol: A hash table is a data structure that stores key-value pairs, providing a very efficient way to access data.
  * Python Dictionaries Use Hash Tablesas follows:

Keys: When you add an item to a dictionary , the key is hashed to compute an index in the underlying hash table.

Values: The value associated with the key is stored in the bucket that corresponds to the index computed by the hash function.

Lookups: When you access a value using a key , Python hashes the key again and quickly retrieves the corresponding value from the hash table.

---
9.Can lists contain different data types in Python?

  sol: yes


---
10.Explain why strings are immutable in Python?
  
  sol: Immutability in strings ensures better performance by optimizing memory usage, enabling efficient string interning and caching, enhances security by preventing unintended modifications and protecting sensitive data, and improves reliability by guaranteeing predictable behavior, simplifying code, and ensuring thread safety, all of which contribute to more efficient, secure, and maintainable Python programs.



---
11.What advantages do dictionaries offer over lists for certain tasks?

  sol:
  1. Faster Lookups
Dictionaries allow you to quickly find items using a unique key, whereas with lists, you often have to search through the entire list, which takes longer as the list gets bigger.

2. Key-Value Pair Mapping
Dictionaries store data as pairs of keys and values. This is useful when you need to associate one item with another (e.g., a person's name with their phone number). Lists don't have this structure, so it's harder to manage pairs of related data.

3. Efficient Insertions and Deletions
In dictionaries, adding or removing items is fast and doesn't require rearranging other data. With lists, adding or removing items can be slower, especially if the data is in the middle of the list.

4. Unique Keys
Dictionaries automatically handle uniqueness by using keys, meaning you can't accidentally have the same key twice. Lists, on the other hand, allow duplicate items, which could make it harder to organize or identify data.

---


12.Describe a scenario where using a tuple would be preferable over a list?

  sol:if we are storing data that should not  be modifyed , like adhaar number of individual which is permanent.

---
13.How do sets handle duplicate values in Python?

  sol: A set is an unordered collection of unique items. It does not allow duplicates. Sets automatically remove duplicate values. Only unique items are stored.


---


14.How does the “in” keyword work differently for lists and dictionaries?

  sol: When you use the in keyword with a list, it checks whether a value is present in the list. It looks through all the elements of the list to see if the specified value exists.
  * When you use the in keyword with a dictionary, it checks whether a key is present in the dictionary, not a value.

---


15.Can you modify the elements of a tuple? Explain why or why not?

  sol:we cannot modify the element in tupples as they are immutable
  * while you cannot modify individual elements of a tuple directly, you can create a new tuple with the desired values combining existing tuples or replacing elements The key reason for this is that tuples are designed to be immutable, offering advantages like safety and efficiency in certain situations.


---

16.What is a nested dictionary, and give an example of its use case?

  sol :A nested dictionary is a dictionary where the values themselves are dictionaries, creating a multi-level (hierarchical) structure. This allows you to represent more complex relationships, where each dictionary can store additional key-value pairs, and those values can also be dictionaries.

  * example: managing a school system and need to store information about students, including their courses, grades, and personal details.
---
17.Describe the time complexity of accessing elements in a dictionary?

  sol:Accessing an element in a dictionary (using a key) is usually very fast, taking constant time .
This means that no matter how large the dictionary is, retrieving a value based on its key takes about the same amount of time.

---
18.In what situations are lists preferred over dictionaries

  sol:
  * Order matters: You need to keep the order of items (lists preserve the order).

* Duplicates are needed: You want to store the same item multiple times.

* Indexing by position: You need to access items by their position in the collection (e.g., the 3rd item).

* Similar data: You're working with a collection of similar items (like numbers or strings).

* Simple looping: You want to loop through items without needing key-value pairs.


---
19.Why are dictionaries considered unordered, and how does that affect data retrieval?

  sol:Dictionaries are considered unordered because they store key-value pairs based on hashing, not in a specific sequence. This means the order of items isn't guaranteed.

How it affects data retrieval:

* Fast access by key: You can still quickly get values by their keys, and the order doesn’t matter for this.
* No guaranteed order: Before Python 3.7, if you looped through a dictionary, the order of items could change each time.

---
20.Explain the difference between a list and a dictionary in terms of data retrieval.

  sol: Data Retrieval in a List:
Accessed by Index: In a list, data is accessed by its position or index. Lists are ordered, so each element has a specific index, starting from 0.
Example: To get the 3rd item in a list, you use its index

*  Data Retrieval in a Dictionary:
Accessed by Key: In a dictionary, data is accessed using a key. Dictionaries are unordered (though they maintain insertion order starting from Python 3.7), so each value is linked to a unique key.
Example: To get a value, you use its associated key

---

In [2]:
#1. Write a code to create a string with your name and print it
name = "praveen"
print("hello",name)

hello praveen

In [4]:
# 2. Write a code to find the length of the string "Hello World"
a = "Hello World"
print(len(a))

11

In [5]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
a="python progrmaing"
print(a[0:3])

pyt

In [6]:
#4. Write a code to convert the string "hello" to uppercase
a="hello"
print(a.upper())

HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="i like apple"
print(a.replace("apple","orange"))

i like orange

In [8]:
# 6.Write a code to create a list with numbers 1 to 5 and print it
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [10]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a=['a','b','c','d']
print(a[1])

b

In [12]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50
a=[10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [13]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
a=(100,200,300)
print(a)

(100, 200, 300)

In [15]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a=('red', 'green', 'blue', 'yellow')
print(a[-2])
print(a[2])

blue
blue

In [16]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a= (10, 20, 5, 15)
min_value = min(a)
print(min_value)

5

In [17]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a=('dog', 'cat', 'rabbit')
print(a.index('cat'))

1

In [19]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a=("apple","banana","kiwi")
if "kiwi" in a:
  print("present")

present

In [21]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a={'a', 'b', 'c'}
print(a)

{'a', 'b', 'c'}

In [22]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
a= {1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [23]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a={1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [24]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set_1={1, 2, 3}
set_2={3, 4, 5}
union_set=set_1.union(set_2)
print(union_set)

{1, 2, 3, 4, 5}

In [25]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set_1={1, 2, 3}
set_2={2, 3, 4}
intersection_set=set_1.intersection(set_2)
print(intersection_set)

{2, 3}

In [26]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
a={"name":"praveen","age":24,"city":"bengaluru"}
print(a)

{'name': 'praveen', 'age': 24, 'city': 'bengaluru'}

In [30]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
a= {'name': 'John', 'age': 25}
a["country"]="usa"
print(a)

{'name': 'John', 'age': 25, 'country': 'usa'}

In [31]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
a={'name': 'Alice', 'age': 30}
print(a["name"])

Alice

In [36]:
 #24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
 a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
a.pop('age')

print(a)

{'name': 'Bob', 'city': 'New York'}

In [39]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
a={'name': 'Alice', 'city': 'Paris'}
if "city" in a:
  print("yes")
else:
    print("no")

yes

In [40]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
a=[1,2,3,4]
b=(1,2,3,4)
c={"name":"praveen","age":24,"city":"bengaluru"}
print(a,b,c)

[1, 2, 3, 4] (1, 2, 3, 4) {'name': 'praveen', 'age': 24, 'city': 'bengaluru'}

In [44]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
a=[55,95,5,33,1,9]
a.sort(reverse=False)
print(a)

[1, 5, 9, 33, 55, 95]

In [45]:
# 28. Write a code to create a list with strings and print the element at the third index.
a=["apple","ball","cat", "dog"]
print(a[3])

dog

In [47]:
#29. Write a code to combine two dictionaries into one and print the result.
dict_1 = {'a': 1, 'b': 2}
dict_2 = {'c': 3, 'd': 4}
combined_dict = {**dict_1, **dict_2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [46]:
#30. Write a code to convert a list of strings into a set.
a=["apple","ball","cat", "dog"]
b=set(a)
print(b)

{'dog', 'ball', 'apple', 'cat'}